<div class="quote-edit">
    <h1>Edit Quote: ID {{quotesWithAuthor?.quoteId}}</h1>
    <p *ngIf="this.id && !quotesWithAuthor"><em>Loading...</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Quote Text -->
      <mat-form-field>
        <mat-label>Quote</mat-label>
        <input matInput formControlName="quoteText" placeholder="Type a quote">
      </mat-form-field>
      <!-- Author -->
      <mat-form-field>
        <mat-label>
          Author Name
        </mat-label>
        <input matInput formControlName="authorName" placeholder="Enter author name">
      </mat-form-field>
      <!-- Date Published -->
      <mat-form-field>
        <mat-label>
          Date Quote Published
        </mat-label>
        <input matInput formControlName="datePublished" placeholder="Enter date published">
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" type="submit">Save
        </button>
        <button mat-flat-button color="secondary" [routerLink]="['/edit-quotes']">
          Cancel
        </button>
      </div>
    </form>
  </div>
  