.quote-wrapper {
    display: flex;
    margin-top: 20px;
}

.quote {
    display: flex;
    border: solid black;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 0px;
}

.quote button {
    align-self: center;
    margin-right: 18px;
}